[user]
	name = Julich Mera
	email = julich.mera@gmail.com
	initials = jm
[core]
	pager = diff-highlight | less
	excludesfile = ~/.gitignore
[interactive]
	diffFilter = diff-highlight | less
[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
