[user]
  name = Julich Mera
  email = julich.mera@gmail.com
  initials = jm
[core]
  pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[color "diff-highlight"]
  oldHighlight = "254 160"
  newHighlight = "254 64"
[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
